.svg path {
  fill: hsla(0, 0%, 100%, 0.8);
  color: hsla(0, 0%, 100%, 0.8);
  background-color: transparent;
}
.Tool_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 3;
  height: 48px;
  color: #fff;
  background-color: #2c2c2c;
}
.homejam {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homejam p {
  margin: 0;
}
.svg_hand {
  transform: translateZ(0);
  background-color: #018afb;
  position: relative;
  width: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.svg_menu {
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}
.svg {
  display: block;
  margin: auto;
}
.avtar_block {
  position: relative;
  width: 40px;
  height: 48px;
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avtar_right {
  color: black;
  background-color: rgb(242, 78, 30);
  width: 24px;
  text-align: center;
  font: 12px/24px Inter, sans-serif;
  overflow: hidden;
  border-radius: 100%;
}
.toolbar_rightside {
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}
.login_btn_block {
  margin-left: 8px;
}
.login_btn {
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 6px;
  padding: 0 11px;
  height: 32px;
  line-height: 30px;
}
.container {
  display: flex;
  justify-content: center;
}
.welcome {
  top: 70px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  max-width: 930px;
  padding: 20px;
  position: absolute;
  margin: auto;
  font-size: 14px;
  border-radius: 3px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #fcfcfc;
  box-shadow: 0 2px 14px rgb(0 0 0 / 15%), 0 0 0 0.5px rgb(0 0 0 / 20%);
}
.welcome_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.figma_icon_link {
  flex: none;
  padding: 4px 17px 4px 0;
  margin-right: 15px;
}
.welcome_text {
  font-weight: 700;
}
.signin_btn {
  display: flex;
  align-items: center;
}
.svgg_google {
  display: block;
}
.svg_span {
  padding-right: 12px;
}
.google_signin {
  display: flex;
  align-items: center;
}
.g_button {
  height: 36px;
  padding: 0 11px;
  background-color: transparent;
  border-radius: 6px;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-right: 12px;
  margin-left: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.053px;
}
.email_signup_button {
  height: 36px;
  cursor: pointer;
  color: #fff;
  background-color: #1bc47d;
  border-color: transparent;
  background-clip: border-box;
  border-radius: 6px;
  font-size: 11px;
  letter-spacing: 0.053px;
}
.home_Comp {
  position: absolute;
  top: 200px;
  width: 100%;
}
.home_Text {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  height: 200px;
}
.main_Page {
  background-color: #0a0b1a;
}
.Container {
  background-color: #0a0b1a;
}
h4,
h6,
.comments {
  color: white;
}
.card {
  background-color: #111229;
}
.actor_Catg {
  background-color: #e5c558;
  display: inline-block;
}
.actor_Catg p {
  margin: 0;
  padding: 0px 5px;
  font-size: 10px;
}
.review_Card_Header {
  display: flex;
  padding: 15px;
}
.review_Title_Block p {
  color: #706137;
}

#reviewCard_name {
  color: white;
  margin: 0;
}
#reviewCard_city {
  font-size: 10px;
  margin-top: 5px;
}
.review_Title_Block {
  margin-left: 24px;
}
.review_Comment_Cards {
  border: 2px solid #bc904b;
  border-radius: 20px;
}
.show_Cards {
  border-radius: 10px;
}
hr {
  margin-left: 0;
  border-top: 2px solid #0259eb;
  width: 5%;
}
.review_container {
  margin: 80px 0px;
}
.circleOutline {
  margin: 50px 0;
  height: 200px;
  width: 200px !important;
  border: 1px solid #ffffff80;
  border-radius: 100%;
}
.circle_Block {
  min-height: 200px;
  min-width: 200px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle_Svg {
  fill: #0259eb;
  opacity: 0.7;
}
.circle {
  display: flex;
  justify-content: center;
}
.flag_block {
  display: flex;
  margin-top: 5px;
}
.country_Flag {
  height: 20px;
  width: 30px;
  margin-right: 10px;
}
.banner {
  position: relative;
  background-image: url(https://picsum.photos/id/1079/500/300);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
}
.banner_Block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-image: linear-gradient(to top, #0a0b1a, transparent);
}
.banner-Content_row {
  display: flex;
}
.banner_text {
  margin-top: 168px;
  margin-bottom: 220px;
}
.banner_text .title {
  font-size: 80px;
  color: #fff;
}
.banner_text .content {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
}
.banner_Text_Block {
  padding: 70px;
}
.mainLogo {
  width: 86px;
}
.shoping_Bag {
  height: 18px;
}
.navLinks {
  color: white !important;
}
.img-thumbnail {
  border: none;
  background-color: transparent;
}
